body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

input[type="search"] {
    width: 200px;
    padding: 5px;
}
.main-content {
    display: flex;
}
.categories {
    flex: 0.7; /* This will take up the remaining space after the .products section */
    padding-left: 20px;
}

.categories, .products {
    margin: 20px 0;
}
.category-name {
    font-size: 1.2em;
    font-weight: bold;
    transition: 0.4s;
    padding: 0 10px;
    margin: 0 10px;
}
.category-name:hover{
    background-color: #ffffff;
    color: #EEA200;
    padding: 12px 5px;
}
.category-card {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box; /* This ensures that the padding and border are included in the element's total width and height */
}
.products {
    
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.product-card {
    width: calc(20% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; /* This ensures that the padding and border are included in the element's total width and height */
    
}

.product-image img {
    width: 100%;
    height: auto;
}

.product-name {
    font-size: 1.2em;
    font-weight: bold;
}

.product-price, .product-discounted-price {
    margin: 0;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #EEA200;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}